    <div ng-controller="QuizCtrl">
    <div class="container question">

      <div class="jumbotron">
        <h2>{{ count }} Seconds left!</h2>
      </div>

      <div class="jumbotron question">
        <li ng-repeat="question in quiz | orderBy: whatImOrderingBy ">
          <strong>{{ $index + 1}} {{ question.q}}</strong>
            <div class="btn-group">
            <button ng-repeat="option in question.options"
                    ng-click="addAnswer(question,option.value)"
                    class="btn btn-default">
              {{ option.value }}
            </button>
            </div>
        </li>
      </div>

      <div class="jumbotron question">
        <h2>Your Score is: {{ answersCorrect }}</h2>
      </div>

      <div class="jumbotron question">
        <h2>Create New Question</h2>
        <form>
          <h3>Question</h3>
          <textarea ng-model="newQuestion.q" class="form-control"></textarea>
          <h3>Options</h3>
          <input ng-repeat="option in newQuestion.options"
                 ng-model="option.value"
                 class="form-control" type="text">
          <button ng-click="addOption()"
                  class="form-control btn btn-primary">New Option</button>
          <h3>Answer</h3>
          <input ng-model="newQuestion.answer" class="form-control" type="text">
          <h3>Difficulty</h3>
          <input ng-model="newQuestion.difficulty" class="form-control" type="text">
          <button ng-click="submit()"
                  class="form-control btn btn-primary">Submit</button>
        </form>
      </div>

    </div><!-- /.container -->
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->